<div id="landing-page">
  <div class="w-100 background-black">
    <div class="wrapper">


      <%= render 'static_pages/landing_page/cta_first' %>

      <!-- First START -->
      <div class="row mt-5 px-4">
        <div class="col-xl-6">
          <h1 class="top-heading pt-5 text-white text-left font-weight-bold">
            Sample
          </h1>
          <div class="text-light mb-4">
            <p>Sample</p>
          </div>

        </div>

        <div class="col-xl-6 mb-5">
          <img src="<%= "https://tuflingual.s3.ap-northeast-1.amazonaws.com/assets/lp/undraw_certificate_re_yadi.svg" %>" class="img-fluid" alt="">
        </div>
      </div>
      <!-- First END -->


      <!-- Third START -->
      <div class="row mt-5 px-4">
        <div class="col-xl-6">
          <h1 class="top-heading pt-5 text-white text-left font-weight-bold">
            Sample
          </h1>
          <div class="text-light mb-4">
            <p>Sample</p>
          </div>

        </div>

        <div class="col-xl-6 mb-5">
          <img src="<%= "https://tuflingual.s3.ap-northeast-1.amazonaws.com/assets/lp/undraw_connected_world_wuay.svg" %>" class="img-fluid" alt="">
        </div>

      </div>
      <!-- Third END -->

      <!-- Forth START -->
      <div class="row align-items-center mt-5 px-4">
        <div class="col-xl-6">
          <h1 class="top-heading pt-5 text-white text-left font-weight-bold">
            Sample
          </h1>
          <div class="text-light mb-4">
            <p>Sample</p>
          </div>


        </div>

        <div class="col-xl-6 mb-5">
          <img src="<%= "https://tuflingual.s3.ap-northeast-1.amazonaws.com/assets/lp/undraw_teaching_re_g7e3.svg" %>" class="img-fluid" alt="">
        </div>

      </div>
      <!-- Forth END -->



        <h1 class="top-heading pt-5 text-white text-center font-weight-bold mt-5 px-4">
          Sample
        </h1>
      <div class="px-2">
        <%= render 'plans/price_list' %>
      </div>





      <div class="row mt-5 px-4 justify-content-md-center">
        <div class="col-xl-8">
          <h1 class="top-heading pt-5 text-white text-left font-weight-bold">
            Sampleとは
          </h1>
          <div class="text-light">
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
          </div>


        </div>
      </div>


      <div class="w-100 d-block py-5"></div>
      <%= render 'static_pages/landing_page/cta_last' %>



      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>


    </div>

  </div>
</div>


